@charset "UTF-8";

body {
    background: #282f50;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.428);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img { 
    border-radius: 1000px;
    max-width: 300px;
}

div {
    padding: 8px;
    text-align: center;
}